/* CSS Document */
* {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

img {
  vertical-align: top; }

a img {
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.clearfix {
  zoom: 1; }

table {
  border-collapse: collapse; }

th, td {
  border: 1px solid #000;
  padding: 0; }
